/* header start */
.navbar-collapse{
    flex-grow: 0;
}
.navbar-toggler{
    background-color: white;
}
header .navbar{
    background-color: #151515e7!important;
}
header ul li a{
    font-weight: 600!important;
    transition: 0.5s!important;
    font-size: 14px!important;
}
header{
  position: sticky;
  z-index: 121212;
  top: 0; 
}
header ul li a:hover,footer ul li:hover{
    color: #aa8453!important; transition: 0.4s;
}
header ul li a i:hover{
    color: #aa8453!important;
    transition: 0.4s;
}
button:hover{
    background-color: #aa8453!important;
    color: white!important;
}
header .offcanvas ul li a i:hover{
    color: #aa8453;
}
.dropdown ul li{
    padding: 7px 10px;
    font-weight: 650;
    color: rgba(0, 0, 0, 0.705);
    font-size: 14px;
}
.dropdown{
    width: 200px;
    cursor: pointer;
    top: 130px;
    opacity: 0; z-index: 1111;
    visibility: hidden;
    transition: 0.5s;
}
.dropdown ul li:hover,footer ul li:hover{
    color: #aa8453; transition: 0.2s; cursor: pointer;
}
header ul li:hover .dropdown{
    opacity: 1!important;
    visibility: visible!important; 
    top: 90px;
}
header ul li a:hover .ifco{
  transform: rotate(-90deg); 
  transition: 0.3s;
  color: #aa8453!important;
}
/* header end */
.btn-success{
    background-color: #aa8453!important;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.why p{
    color: #7d7e7c;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
}
.why span{
    font-size: 55px; 
    font-weight: 400;
    line-height: 1.3;
}
.faci-img img:hover{
    transform: scale(1.1); cursor: pointer;
}
.faci-img{
    overflow: hidden;
}
.facilities .boxes span,.Restaurant .food h3{
    position: relative;cursor: pointer;
}
.facilities .boxes span::before,.Restaurant .food h3::before{
    position: absolute;
    content: '';
    box-sizing: border-box;
    border-radius: 3px;
    width: 0%;
    height: 3px;
    background-color: #aa8453;
    bottom: -7px;
    left: 0px;
}
.Restaurant .food h3::before{
  left: 33%;
}
.Restaurant .food:hover h3::before{
  width:40%; transition: 0.5s; 
}
.facilities .boxes:hover span::before{
    width:75%;
    transition:0.5s; 
}
.quote{
    background-image: url('../img/gallery_3.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
}
.quote::before{
    position: absolute; 
    content: '';
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.607); top: 0;
     left: 0;
}
.q-content{
    z-index: 4444;
    
}
.q-content p{
    font-size: 40px;
    line-height: 1.4; 
    font-weight: 400;
}
footer h3{
    position: relative;
}
footer h3::before{
    position: absolute;
    content: '';
    box-sizing: border-box;
    border-radius: 3px;
    width: 53%;
    height: 2px;
    background-color: #aa8453;
    bottom: -11px;
    left: 0px;
}
footer i:hover{
    color: #aa8453;
    border-color: #aa8453!important;
    transform: scale(1.1);
}
footer i{
    transition: 0.2s;
}
footer ul li{
    line-height: 35px;
}
.form .form-img,.Restaurant .form-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form .form-img::before,.Restaurant .form-img::before{
    position: absolute;
    content: '';
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background-color: #aa8453;
    border-radius: 50%;
}
.Restaurant .form-img::before{
  width: 80px; height: 80px;
}
 .form form input{
    width: 60%;
    height: 60px;
}
 .form form button{
    width: 180px; transition: 0.2s;
    height: 50px; right: 21.4%;
    top: 5px; font-weight: 600; 
    background-color: rgba(0, 0, 0, 0.121);
}
.form form button:hover{
    background-color: #aa8453!important;
}
@media(max-width:992px){
  footer iframe{
     width: 85%;  height: 280px;
  }
  footer{
    padding: 0 40px;
  }
}
@media(max-width:992px){
  .form form input{
     width: 90%;
  }
  .form form button{
     right: 8%;
  }
}